#burger {
    display: none;
    width: 5vw;
    height: 4.8vw;
    top: 0.6vw;
    right: 0vw;
    position: absolute;
    padding: 2vw;
    cursor: pointer;
}

#burger span {
    position: absolute;
    width: 5vw;
    height: 0.8vw;
    background-color: #333;
    z-index: 999999999999999999999;
    transition: 0.2s ease;
}

#burger span:nth-child(1) {
    margin-top: 0vw;
}

#burger span:nth-child(2) {
    margin-top: 2vw;
}

#burger span:nth-child(3) {
    margin-top: 4vw;
}

#burger.activeBurger span:nth-child(1) {
    transform-origin: left;
    transform: rotate(45deg) scaleX(1.1);
}

#burger.activeBurger span:nth-child(2) {
    opacity: 0;
}

#burger.activeBurger span:nth-child(3) {
    transform-origin: left;
    transform: rotate(-45deg) scaleX(1.1);
}

@media only screen and (max-width: 480px) {
    nav ul {
        display: none;
    }
    .navOverlay {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        opacity: 0.96;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 5vw;
        text-align: center;
    }
    nav li {
        display: block;
        margin: 13vw 10vw;
        font-size: 6vw;
    }
    .headerLiSticky {
        display: block;
        margin: 13vw 10vw;
        font-size: 6vw;
    }
    .headerNavSticky {
        margin-top: 4.5w;
        line-height: 3vw;
    }
    #animation {
        visibility: hidden;
        display: none;
        transition: 0s;
    }
    .headerSticky {
        height: 10vw;
    }
    .headerLogoSticky {
        height: 8vw;
        margin: 1vw;
    }
    #burger {
        display: block;
    }
}