
.datenschutzerklärung{
    display: none;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 9999999999999999999999999999999;
    background-color: white;
    box-shadow: 0px 0 10px #00000030;
 }

 .datenschutzOverlay{
    display: block;
}

.datenschutzInfoText{
    display: block;
}
 

#datenschutz{
    overflow-y: scroll;
    height: 100%;
    padding: 0 8vw;
    text-align: left;
    
}

#datenschutzContent h4, #datenschutzContent h2, #datenschutzContent p, #datenschutzContent a, #datenschutzContent ul, #datenschutzContent li{
    color: #333;
    text-align: left;
    padding-top: 1vw;
    font-size: 1.25vw;
    background-color: white;
}

#datenschutzContent h1{
    font-size: 2vw;
}

#datenschutzContent{
    column-count: 2;
    column-gap: 6vw;
    padding: 5vw 0;
    margin: 0;
}

.noscroll { 
    overflow: hidden;
}

#schließenKreuzDaten{
    position: absolute;
    top: 2vw;
    right: 3vw;
    height: 2.35vw;
    width: 2.35vw;
    padding: 0.5vw;
    cursor: pointer;

}

  #schließenKreuzDaten span{
    position: absolute;
    width: 2.85vw;
    height: 0.4vw;
    background-color: #333;
    z-index: 999999999999999999999;
  }

  #schließenKreuzDaten span:nth-child(1) {
    margin-top: 0vw;
    transform-origin: left;
    transform: rotate(45deg);
}

#schließenKreuzDaten span:nth-child(2) {
    margin-top: 2vw;
    transform-origin: left;
    transform: rotate(-45deg);
}




  @media only screen and (max-width: 1000px) {
    
    #datenschutzContent{
        column-count: 1;
        column-gap: none;    
    }

    #datenschutzContent h4, #datenschutzContent h2, #datenschutzContent p, #datenschutzContent a{
        font-size: 2vw;
        word-wrap: break-word;
    }

    #datenschutzContent h1{
        font-size: 3vw;
    }

    #schließenKreuzDaten{
        top: 2vw;
        right: 3vw;
    }

    #schließenKreuzDaten span{
        width: 2.9vw;
        height: 0.5vw;
      }

      #schließenKreuzDaten span:nth-child(2) {
        margin-top: 2vw;

    }   

}

  @media only screen and (max-width: 480px) {
    #datenschutzContent{
        column-count: 1;
        column-gap: none;    
    }

    #datenschutzContent h1{
        font-size: 6vw;
    }

    #datenschutzContent h4, #datenschutzContent h2, #datenschutzContent p, #datenschutzContent a{
        font-size: 4vw;
    }

    #schließenKreuzDaten{
        top: 2vw;
        right: 10vw;
    }

    #schließenKreuzDaten span{
        width: 7.20vw;
        height: 1vw;
      }

      #schließenKreuzDaten span:nth-child(2) {
        margin-top: 5vw;

    }

}



