
.impressum{
    display: none;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 9999999999999999999999999999999;
    background-color: white;
    box-shadow: 0px 0 10px #00000030;
 }

 #footerInfo a{
     cursor: pointer;
 }
 
.impressumOverlay{
    display: block;
}

.impressumInfoText{
    display: block;
}

#impressumContent{
    overflow-y: scroll;
    height: 100%;
    padding: 0 8vw;
    text-align: left;

}

#impressumContent h4, #impressumContent h2, #impressumContent p {
    color: #333;
    text-align: left;
    padding-top: 1vw;
    font-size: 1.25vw;
}

#impressumContent h1{
    font-size: 2vw;
    margin-top: 5vw;
}


#impressumInfo{
    column-count: 2;
    column-gap: 6vw;
    padding-bottom: 5vw;
    margin: 0;

}

.noscroll { 
    overflow: hidden;
}

  #schließenKreuz{
    position: absolute;
    top: 2vw;
    right: 3vw;
    height: 2.35vw;
    width: 2.35vw;
    padding: 0.5vw;
    cursor: pointer;

}

  #schließenKreuz span{
    position: absolute;
    width: 2.85vw;
    height: 0.4vw;
    background-color: #333;
    z-index: 999999999999999999999;
  }

  #schließenKreuz span:nth-child(1) {
    margin-top: 0vw;
    transform-origin: left;
    transform: rotate(45deg);
}

#schließenKreuz span:nth-child(2) {
    margin-top: 2vw;
    transform-origin: left;
    transform: rotate(-45deg);
}

  @media only screen and (max-width: 1000px) {
    
    #impressumInfo{
        column-count: 1;
        column-gap: none;    
    }

    #impressumContent h4, #impressumContent h2, #impressumContent p{
        font-size: 2vw;
    }

    #impressumContent h1{
        font-size: 3vw;
    }

    #schließenKreuz{
        top: 2vw;
        right: 3vw;
    }

    #schließenKreuz span{
        width: 2.9vw;
        height: 0.5vw;
      }

      #schließenKreuz span:nth-child(2) {
        margin-top: 2vw;

    }
    

}

  @media only screen and (max-width: 480px) {
    #impressumInfo{
        column-count: 1;
        column-gap: none;    
    }

    #impressumContent h1{
        font-size: 6vw;
    }

    #impressumContent h4, #impressumContent h2, #impressumContent p{
        font-size: 4vw;
    }

    #schließenKreuz{
        top: 2vw;
        right: 10vw;
    }

    #schließenKreuz span{
        width: 7.20vw;
        height: 1vw;
      }

      #schließenKreuz span:nth-child(2) {
        margin-top: 5vw;

    }
}



