
#animation{
    opacity: 0;
    width: 0.5vw;
    height: 2vw;
    background-color: rgb(250,80,70);
    position: absolute;
    z-index: 9999999999999999999;
    margin-left: 2vw;
    margin-top: -0.2vw;
    transition: 0.6s;
}
