.slideShow {
    display: none;
    opacity: 1;
    transition: 0.6s ease;
}

#dots {
    margin: 0vw auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -3vw;
    position: absolute;
    


}

/* The dots */
.dot {
  height: 1.2vw;
  width: 1.2vw;
  margin: 0 0.6vw;
  border-radius: 50%;
  border:1px solid #b2b2b290;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

/* The dots active color */
.active {
  background-color: rgb(53, 0, 223);
  border:1px solid rgb(53, 0, 223);
}

