@import url('https://fonts.googleapis.com/css?family=Heebo:300,900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Heebo', sans-serif;
    color: #333333;
    text-decoration: none;
}

body {
    width: 100%;
}

header {
    top: 0;
    left: 0;
    height: 10vw;
    position: fixed;
    background-color: white;
    width: 100%;
    transition: 0.2s;
    z-index: 9999;
    box-shadow: 0px 0 10px #00000030;
}

header svg {
    position: absolute;
    height: 8vw;
    margin: 1vw;
    float: left;
    transition: 0.2s;
    z-index: 99999999999999999999999999999999;
}

header li {
    font-size: 3vw;
    font-weight: 900;
    margin-left: 5vw;
    display: inline;
    transition: 0.2s;
}

nav {
    float: right;
    margin-top: 4.2vw;
    margin-right: 3vw;
    transition: 0.2s;
    line-height: 3vw;
}

.headerSticky {
    height: 5vw;
}

.headerLogoSticky {
    height: 4vw;
    margin: 0.5vw;
}

.headerLiSticky {
    font-size: 1.8vw;
    margin-left: 3vw;
}

.headerNavSticky {
    margin-top: 1.9vw;
    line-height: 1.8vw;
}

#start svg {
    position: absolute;
    top: 5vw;
    z-index: 999;
}

#intro {
    position: absolute;
    top: 22vw;
    left: 11vw;
    z-index: 1000;
}

#intro h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 900;
    line-height: 3.5vw;
}

#intro h3 {
    text-transform: lowercase;
    color: rgb(53, 0, 223);
    font-size: 2.5vw;
    font-weight: 900;
    margin-top: 0.6vw;
}

#work {
    margin-top: 34.5vw;
    line-height: 0;
}

#work img {
    width: 100%;
    margin: 0;
    padding: 0;
}

#work h2 {
    text-transform: uppercase;
    position: absolute;
    margin-top: 24vw;
    margin-left: -3vw;
    font-size: 3.5vw;
    font-weight: 900;
    color: rgb(250, 80, 70);
    transform: rotate(90deg);
    z-index: 1000;
}

#about {
    background-color: rgb(53, 0, 223);
    color: white;
}

#about h2 {
    text-transform: uppercase;
    position: absolute;
    margin-top: 11vw;
    right: 0;
    margin-right: -3vw;
    font-size: 3.5vw;
    font-weight: 900;
    color: rgb(250, 80, 70);
    transform: rotate(90deg);
}

#about p {
    color: white;
    padding: 4vw 0 13vw 0;
    margin: 0 0 0 4.5vw;
    text-align: left;
    width: 65vw;
    column-count: 2;
    column-gap: 7vw;
    hyphens: auto;
    font-size: 1.5vw;
}

#about i {
    color: white;
}

#contact h2 {
    text-transform: uppercase;
    position: absolute;
    margin-top: -2.2vw;
    margin-left: 4.5vw;
    font-size: 3.5vw;
    font-weight: 900;
    color: rgb(250, 80, 70);
}

#email, #betreff, #message {
    outline: none;
    border: 1px solid #b2b2b2;
    width: 25vw;
    margin-bottom: 2vw;
    padding: 1vw 2vw 1vw 2vw;
    display: block;
    text-align: left;
    font-size: 1.3vw;
    resize: none;
}

#message {
    width: 50vw;
    height: 10vw;
}

#formular {
    padding-top: 5vw;
    padding-left: 5vw;
}

#button {
    background-color: rgb(53, 0, 223);
    margin-bottom: 4vw;
    border-radius: 1vw;
    border: none;
    padding: 0.5vw 2.5vw 0.5vw 2.5vw;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 1.3vw;
    cursor: pointer;
}

#contact svg {
    width: 25vw;
    float: right;
    margin-right: 5vw;
    margin-top: 7vw;
}

footer ul {
    background-color: rgb(250, 80, 70);
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer li {
    margin-top: 3vw;
    width: 30%;
}

#footerInfo a, #footerInfo p {
    text-align: center;
    color: white;
    display: block;
    font-weight: 300;
    margin-top: -0.01vw;
    font-size: 1.2vw;
}

#footerInfo span {
    font-size: 1.7vw;
    color: white;
    line-height: 10px;
}

footer p svg {
    height: 2vw;
    margin-bottom: -0.5vw;
}

#footerLogo svg {
    height: 5vw;
    float: left;
    margin-left: 2vw;
}

#footerSocialMedia svg {
    height: 3vw;
    float: right;
    margin: 1vw 2vw 0 0;
}

@media only screen and (max-width: 1000px) {
    #intro h1 {
        font-size: 4vw;
        line-height: 5vw;
        font-weight: 600;
    }
    #intro h3 {
        font-size: 3vw;
    }
    #about p {
        width: 80vw;
        column-count: 2;
        column-gap: 6vw;
        hyphens: auto;
        font-size: 2vw;
    }
    #formular {
        padding-top: 10vw;
        padding-left: 3vw;
    }
    #button {
        background-color: rgb(53, 0, 223);
        margin-bottom: 4vw;
        border-radius: 1vw;
        border: none;
        padding: 1vw 3vw 1vw 3vw;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 2vw;
    }
    #email, #betreff, #message {
        outline: none;
        border: 1px solid #b2b2b2;
        width: 50vw;
        margin-bottom: 2vw;
        padding: 1vw 2vw 1vw 2vw;
        display: block;
        text-align: left;
        font-size: 2vw;
        resize: none;
    }
    #message {
        width: 50vw;
        height: 10vw;
    }
    footer ul {
        background-color: rgb(250, 80, 70);
        height: auto;
        display: block;
        text-align: center;
    }
    footer li {
        padding-top: 2vw;
        margin: 0;
        display: block;
        width: auto;
    }
    #footerInfo a, #footerInfo p {
        text-align: center;
        color: white;
        font-weight: 300;
        margin-top: 1vw;
        font-size: 2vw;
    }
    #footerInfo span {
        font-size: 2vw;
        color: white;
        line-height: 1vw;
        text-align: center;
    }
    footer p svg {
        height: 2vw;
        margin-bottom: -1vw;
    }
    #footerLogo svg {
        height: 7vw;
        text-align: center;
        margin-left: 1vw;
        float: none;
    }
    #footerSocialMedia svg {
        height: 3vw;
        margin: 2vw 0vw 0 0;
        float: none;
    }
}

@media only screen and (max-width: 480px) {
    #intro h1 {
        font-size: 6vw;
        line-height: 7vw;
        font-weight: 600;
    }
    #intro h3 {
        font-size: 5vw;
    }
    #contact h2 {
        font-size: 5vw;
        margin-top: -3vw;
    }
    #contact svg {
        display: none;
    }
    #formular {
        padding-top: 10vw;
        padding-left: 3vw;
    }
    #button {
        background-color: rgb(53, 0, 223);
        margin-bottom: 4vw;
        border-radius: 1vw;
        border: none;
        padding: 1vw 3vw 1vw 3vw;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 3vw;
    }
    #email, #betreff, #message {
        outline: none;
        border: 1px solid #b2b2b2;
        width: 85vw;
        margin-bottom: 2vw;
        padding: 1vw 2vw 1vw 2vw;
        display: block;
        text-align: left;
        font-size: 4vw;
        resize: none;
    }
    #message {
        width: 85vw;
        height: 20vw;
    }
    #work h2 {
        font-size: 5vw;
        padding: 6vw 0.1vw;
    }
    #about h2 {
        font-size: 5vw;
        padding: 6vw 0.1vw;
    }
    #about p {
        column-count: 1;
        font-size: 4vw;
    }
    footer ul {
        background-color: rgb(250, 80, 70);
        height: auto;
        display: block;
        text-align: center;
    }
    footer li {
        padding-top: 2vw;
        margin: 0;
        display: block;
        width: auto;
    }
    #footerInfo a, #footerInfo p {
        text-align: center;
        color: white;
        font-weight: 300;
        margin-top: 2vw;
        font-size: 4vw;
    }
    #footerInfo span {
        font-size: 2vw;
        color: white;
        line-height: 1vw;
        text-align: center;
    }
    footer p svg {
        height: 5vw;
        margin-bottom: -1vw;
    }
    #footerLogo svg {
        height: 10vw;
        text-align: center;
        margin-left: 1vw;
        float: none;
    }
    #footerSocialMedia svg {
        height: 6vw;
        margin: 4vw 0vw 0 0;
        float: none;
    }
}